body{
    margin-top: 40px;
    background-size: cover;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
}
h2{
    line-height: 0%;
}
body>div>a>img{
    border: 4px solid rgb(12, 247, 71);
    border-radius: 100px;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    float: none;
}
body>div>p{
    font-size: 30px;
}
#div1{
    text-align: center;
    width: auto;
    height: 1500px;
    border: 3px solid #000000;
    margin: auto;
}
img{
    width: auto;
    height: 250px;
    margin-left: 30px;
    margin-top: 30px;
    float: left;
    border: 2px solid #3a8b69;
}
hr{
    background-color: #000000;
    height: 2px;
    border: 0px;
}
video{
    width: auto;
    height: 250px;
    margin-left: 30px;
    margin-top: 30px;
    float: left;
    border: 2px solid #3a8b69;
}
a {
    text-decoration:none;
    color: #520052;
}